.movie{
    text-align: center;
  
}
.image-container{
    height: 440px;
    width: 300px;
    background-size: cover;
  
    
}
body{
    background-color: #1F7A8C;
}
.image-full{
   margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 540px;
    
}
.info{
    display:flex;
    align-items: center;
    justify-content: center;

}
.info ul li{
    list-style-type: none;
    padding: 10px;
    color: black;
    font-weight: bold;
   
}
