.movie{
    text-align: center;
  
}
.image-container{
    height: 400px;
    width: 400px;
    background-size: cover;
    
}
body{
    background-color: #1F7A8C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image-full{
   margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.info{
    display:flex;
    align-items: center;
    justify-content: center;

}
.info ul li{
    list-style-type: none;
    padding: 20px;
}
