
.navbar ul{
    display: flex;
    gap: 10rem;

}
body{

    background-color: #1F7A8C;
}
.navbar ul li{
    list-style-type: none;
}
.navbar li a{
    text-decoration: none;
    color:#ca622a;
    
}
.movie{
    text-align: center;
    margin-top: 0%;
  color:#C9ADA7;
}
.searchbar{
    text-align: center;
    margin-top: 2 rem;
    height: 90px;
    border-radius: 2px solid black;
  
}
.inputsearch{
    height: 30px;
}
.navbar{
    background-color: #022B3A;
    height: 40px;
    margin-bottom: 2rem;
    display: flex;
   
    align-items: center;
}

.container{
    
    height: 300px;
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.box{

    height: 300px;
    width: 200px;
    background-color:#F2E9E4;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
}

.box:hover{
 
    border: 2px solid #FFFFFF;

}


footer{
    margin-top: 15px;
}

.foot-panel2{
display: flex;
justify-content: space-evenly;

background-color: #232f3e;
color: white;
    height: 300px;
}
.list1{


   
    height: 315px;
    width: 240px;
 

  


}
ul{
    margin-top: 20px;


}


ul a{
    display: block;
    margin-top: 10px;
    font-size: .85rem;
    color: #dddddd;
}
.footpanel3{
    background-color: #232f3e;
    border-top: .5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{


    background-image: url("amazon_logo.png");
background-size: cover;
height: 50px;
width: 100px;
  


}

.footpanel4{
    background-color: #0f1111;
    color: white;
   height: 76px;
   text-align: center;
   font-size: .7rem;


}
.pages{
  padding-top: 25px;


}
.copy{

    padding-top: 5px;
}
